@import "tailwindcss";

@theme {
    
    --font-secondary: "Poppins", sans-serif;

    /* --font-display: "Satoshi", "sans-serif";
    
    --breakpoint-3xl: 1920px;
  
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
  
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1); */

    --color-accent: hsl(0, 0%, 0%);
    --color-neutral: hsl(0, 0%, 75%);
    --color-primary: hsl(120, 100%, 7%);

    --color-accent-300: hsl(0, 0%, 20%);
    --color-light: hsl(120, 10%, 95%);

    --color-white-400: hsl(0, 0%, 0%);
    --color-white-300: hsl(0, 0%, 20%);
    --color-black-400: hsl(0, 0%, 0%);
    --color-black-300: hsl(0, 0%, 45%);
  
}
  
.xyz {
    color: hsl(120, 9%, 90%);
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 12%);
}